html {
  background-color: #fff;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item1{
 background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080');
}
.item2{
 background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080');
}
.item3{
 background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080');
}
